<div>
    <div class="overflow-x-auto">
        <div class="min-w-full inline-block align-middle">
            <div class="overflow-hidden">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                        <tr>
                            <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                Empresa</th>
                            <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                R. Legal</th>
                            <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                Email</th>
                            <th scope="col" class="px-6 py-3 text-end text-sm text-gray-500">
                                Registrador</th>
                            <th scope="col" class="px-6 py-3 text-end text-sm text-gray-500">
                                    Ultimo Reporte</th>
                            <th scope="col" class="px-6 py-3 text-end text-sm text-gray-500">
                                        Mercado</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        

                        <tr class="hover:bg-gray-100">
                            <td
                                class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                Courtney Henry SAS</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                fLOWER cORDOBA</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                courtneyhenry@example.com</td>
                            <td
                                class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                <p>Mario</p>
                            </td>
                            <td
                                class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                <p>Hoy</p>
                            </td>
                            <td
                                class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                <p>Construccion</p>
                            </td>
                        </tr>

                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>