<form class="bg-slate-400 h-screen w-screen flex justify-center items-center form-background" autocomplete="off" [formGroup]="loginForm"
    (ngSubmit)="onLogin()">
    <div class="2xl:w-1/4 lg:w-1/3 md:w-1/2 w-full">
        <div class="card overflow-hidden sm:rounded-md rounded-none">
            <div class="px-6 py-8">

                <div class="mb-4">
                    <label class="mb-2" >Email </label>
                    <input  formControlName="email"  class="form-input" type="email" placeholder="Ingresar correo electronico">
                </div>

                <div class="mb-4">
                    <div class="flex items-center justify-between mb-2">
                        <label >Contraseña</label>
                        <a  class="text-sm text-primary">Recuperar Contraseña ?</a>
                    </div>
                    <input      formControlName="password" class="form-input" type="password" placeholder="Ingresar Contraseña">
                </div>

                <!-- <div class="flex items-center mb-4">
                    <input type="checkbox" class="form-checkbox rounded" id="checkbox-signin">
                    <label formControlName="rememberme" class="ms-2" for="checkbox-signin">Remember me</label>
                </div> -->

                <div class="flex justify-center mb-3">
                    <button type="submit" class="btn w-full text-white bg-primary"> Ingresar </button>
                </div>
            </div>
        </div>

        <p class="text-white text-center mt-8">No tienes una cuenta ?<a routerLink="/auth/register"
                class="font-medium ms-1">Registrarse</a></p>
    </div>
</form>