<p>grafic-stadistica-general works!</p>
<!-- <app-column-chart></app-column-chart> -->
<!-- <app-line></app-line> -->
<!-- <app-dashed-line></app-dashed-line> -->
<app-bar-chart></app-bar-chart>
<!-- 
<div class="p-5">
  
    <div class="grid lg:grid-cols-3 gap-5">
        <div class="lg:col-span-2">
            <div class="flex justify-between items-center">
                <h4 class="card-title mb-4">Statistics</h4>

                <div class="relative">
                    <button class="hs-dropdown-toggle text-lg text-gray-600 p-2"
                        type="button">
                        <i class="mdi mdi-dots-vertical"></i>
                    </button>

                    <div
                        class="hs-dropdown-menu hidden z-10 bg-white w-44 shadow rounded border p-2 transition-all duration-300 hs-dropdown-open:translate-y-0 translate-y-3">
                        <a class="flex items-center py-1.5 px-3.5 rounded text-sm transition-all duration-300 bg-transparent text-gray-800 hover:bg-stone-100"
                            href="javascript:void(0)">
                            Action
                        </a>
                        <a class="flex items-center py-1.5 px-3.5 rounded text-sm transition-all duration-300 bg-transparent text-gray-800 hover:bg-gray-100"
                            href="javascript:void(0)">
                            Another action
                        </a>
                        <a class="flex items-center py-1.5 px-3.5 rounded text-sm transition-all duration-300 bg-transparent text-gray-800 hover:bg-gray-100"
                            href="javascript:void(0)">
                            Something else here
                        </a>
                    </div>
                </div>
            </div>

            <div id="morris-bar-example" class="morris-chart" style="height: 330px;"></div>
        </div>
        
        <div>
            <h4 class="card-title mb-4">Stock</h4>

            <div class="mx-auto text-center">
                <input data-plugin="knob" data-width="175" data-height="175"
                    data-linecap=round data-fgColor="#7a08c2" value="45" data-skin="tron"
                    data-angleOffset="180" data-readOnly=true data-thickness=".15" />
                <h5 class="text-gray-400 mt-5">Total sales made today</h5>
            </div>


            <div class="text-center w-full">
                <p class="text-gray-400 w-75 mx-auto line-clamp-2">Traditional heading
                    elements are
                    designed to work best in the meat of your page content.</p>
            </div>

            <div class="flex gap-4 text-center mt-3">
                <div class="w-1/2">
                    <p class="text-gray-400 text-xl mb-1 truncate">Target</p>
                    <h4><i class="fas fa-arrow-up text-success mr-1"></i>$7.8k</h4>

                </div>
                <div class="w-1/2">
                    <p class="text-gray-400 text-xl mb-1 truncate">Last week</p>
                    <h4><i class="fas fa-arrow-down text-danger mr-1"></i>$1.4k</h4>
                </div>
            </div>
        </div>
    </div>
</div> -->