<div class="card bg-white overflow-hidden">
    <div class="card-header">
        <h4 class="card-title">Example</h4>
    </div>
    <div>
        <div class="overflow-x-auto">
            <div class="min-w-full inline-block align-middle">
                <div class="overflow-hidden">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                            <tr>
                                <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                    Name</th>
                                <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                    Title</th>
                                <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                    Email</th>
                                <th scope="col" class="px-6 py-3 text-end text-sm text-gray-500">
                                    Action</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                            <tr>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                    Lindsay Walton</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    Front-end Developer </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    lindsay.waltonexample.com</td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                    <a class="text-primary hover:text-sky-700" href="#">Delete</a>
                                </td>
                            </tr>

                            <tr>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                    Courtney Henry</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    Designer</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    courtneyhenryexample.com</td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                    <a class="text-primary hover:text-sky-700" href="#">Delete</a>
                                </td>
                            </tr>

                            <tr>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                    Tom Cook</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    Director of Product</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    tom.cookexample.com</td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                    <a class="text-primary hover:text-sky-700" href="#">Delete</a>
                                </td>
                            </tr>

                            <tr>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                    Whitney Francis</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    Copywriter</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    whitney.francisexample.com</td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                    <a class="text-primary hover:text-sky-700" href="#">Delete</a>
                                </td>
                            </tr>

                            <tr>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                    Leonard Krasner</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    Front-end Developer </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    leonard.krasnerexample.com</td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                    <a class="text-primary hover:text-sky-700" href="#">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>