 <!-- Sidebar Menu Start -->
 <div class="app-menu">

  <!-- Brand Logo -->
  <a routerLink="/" class="logo-box">
<span class="p-3 m-3 rounded-lg  font-bold inline-flex items-center">
    <img src="../../../assets/images/logo.png" alt="Logo" class="w-12 h-12 mr-2 rounded-full"> <!-- Ajusta w-6 h-6 para cambiar el tamaño -->
    LegalTax
</span>
      <!-- <img src="assets/images/logo-legaltax.png" class="logo-light h-6" alt="Light logo">
      <img src="assets/images/logo-dark.png" class="logo-dark h-6 bg-slate-500" alt="Dark logo"> -->
  </a>

  <!--- Menu -->
  <div data-simplebar>
    <app-menu-sidebar></app-menu-sidebar>
  </div>
</div>
