<div class="grid   mt-8">
        

    <div class="p-4">
        <div class="overflow-x-auto">
            <div class="min-w-full inline-block align-middle">
                <div class="border rounded-lg overflow-hidden">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="py-3 ps-4">
                                    <div class="flex items-center h-5">
                                        <input id="table-checkbox-all" type="checkbox"
                                            class="form-checkbox rounded">
                                        <label for="table-checkbox-all"
                                            class="sr-only">Checkbox</label>
                                    </div>
                                </th>
                                <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                    Name</th>
                                <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                    Title</th>
                                <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                                    Email</th>
                                <th scope="col" class="px-6 py-3 text-end text-sm text-gray-500">
                                    Action</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                            <tr>
                                <td class="py-3 ps-4">
                                    <div class="flex items-center h-5">
                                        <input id="table-checkbox-1" type="checkbox"
                                            class="form-checkbox rounded">
                                        <label for="table-checkbox-1"
                                            class="sr-only">Checkbox</label>
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                    Lindsay Walton</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    Front-end Developer </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    lindsay.waltonexample.com</td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                    <a class="text-primary hover:text-sky-700" href="#">Delete</a>
                                </td>
                            </tr>

                            <tr>
                                <td class="py-3 ps-4">
                                    <div class="flex items-center h-5">
                                        <input id="table-checkbox-2" type="checkbox"
                                            class="form-checkbox rounded">
                                        <label for="table-checkbox-2"
                                            class="sr-only">Checkbox</label>
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                    Courtney Henry</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    Designer</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    courtneyhenryexample.com</td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                    <a class="text-primary hover:text-sky-700" href="#">Delete</a>
                                </td>
                            </tr>

                            <tr>
                                <td class="py-3 ps-4">
                                    <div class="flex items-center h-5">
                                        <input id="table-checkbox-3" type="checkbox"
                                            class="form-checkbox rounded">
                                        <label for="table-checkbox-3"
                                            class="sr-only">Checkbox</label>
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                    Tom Cook</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    Director of Product</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    tom.cookexample.com</td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                    <a class="text-primary hover:text-sky-700" href="#">Delete</a>
                                </td>
                            </tr>

                            <tr>
                                <td class="py-3 ps-4">
                                    <div class="flex items-center h-5">
                                        <input id="table-checkbox-4" type="checkbox"
                                            class="form-checkbox rounded">
                                        <label for="table-checkbox-4"
                                            class="sr-only">Checkbox</label>
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                    Whitney Francis</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    Copywriter</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    whitney.francisexample.com</td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                    <a class="text-primary hover:text-sky-700" href="#">Delete</a>
                                </td>
                            </tr>

                            <tr>
                                <td class="py-3 ps-4">
                                    <div class="flex items-center h-5">
                                        <input id="table-checkbox-5" type="checkbox"
                                            class="form-checkbox rounded">
                                        <label for="table-checkbox-5"
                                            class="sr-only">Checkbox</label>
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                                    Leonard Krasner</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    Front-end Developer </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    leonard.krasnerexample.com</td>
                                <td
                                    class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                                    <a class="text-primary hover:text-sky-700" href="#">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 