<main class="p-6">

    <div class="grid xl:grid-cols-4 md:grid-cols-2 gap-6 mb-6">
        <div class="card">
            <!-- card -->
            <div class="p-5 flex items-center justify-between">
                <span>
                    <span class="text-slate-400 font-semibold block">Total Visitors</span>
                    <span class="text-xl font-semibold"><span>4564</span></span>
                </span>

                <span
                    class="flex justify-center items-center h-14 w-14 bg-blue-600/5 shadow shadow-blue-600/5 text-blue-600">
                    <i class="uil uil-user text-xl"></i>
                </span>
            </div>

            <div class="px-5 py-4 bg-slate-50">
                <a href=""
                    class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:transition-all after:duration-500 text-blue-600 hover:text-blue-600 after:bg-blue-600">View
                    data <i class="uil uil-arrow-right"></i></a>
            </div>
        </div>
        <!--end-->

        <div class="card">
            <div class="p-5 flex items-center justify-between">
                <span>
                    <span class="text-slate-400 font-semibold block">Revenue</span>
                    <span class="text-xl font-semibold">$<span>7564</span></span>
                </span>

                <span
                    class="flex justify-center items-center h-14 w-14 bg-blue-600/5 shadow shadow-blue-600/5 text-blue-600">
                    <i class="uil uil-dollar-sign-alt text-xl"></i>
                </span>
            </div>

            <div class="px-5 py-4 bg-slate-50">
                <a href=""
                    class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:transition-all after:duration-500 text-blue-600 hover:text-blue-600 after:bg-blue-600">View
                    data <i class="uil uil-arrow-right"></i></a>
            </div>
        </div><!--end-->

        <div class="card">
            <div class="p-5 flex items-center justify-between">
                <span>
                    <span class="text-slate-400 font-semibold block">Orders</span>
                    <span class="text-xl font-semibold"><span>7891</span>+</span>
                </span>

                <span
                    class="flex justify-center items-center h-14 w-14 bg-blue-600/5 shadow shadow-blue-600/5 text-blue-600">
                    <i class="uil uil-shopping-bag text-xl"></i>
                </span>
            </div>

            <div class="px-5 py-4 bg-slate-50">
                <a href=""
                    class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:transition-all after:duration-500 text-blue-600 hover:text-blue-600 after:bg-blue-600">View
                    data <i class="uil uil-arrow-right"></i></a>
            </div>
        </div><!--end-->

        <div class="card">
            <div class="p-5 flex items-center justify-between">
                <span>
                    <span class="text-slate-400 font-semibold block">Items</span>
                    <span class="text-xl font-semibold"><span>486</span></span>
                </span>

                <span
                    class="flex justify-center items-center h-14 w-14 bg-blue-600/5 shadow shadow-blue-600/5 text-blue-600">
                    <i class="uil uil-store text-xl"></i>
                </span>
            </div>

            <div class="px-5 py-4 bg-slate-50">
                <a href=""
                    class="relative inline-block font-semibold tracking-wide align-middle text-base text-center border-none after:content-[''] after:absolute after:h-px after:w-0 hover:after:w-full after:end-0 hover:after:end-auto after:bottom-0 after:start-0 after:transition-all after:duration-500 text-blue-600 hover:text-blue-600 after:bg-blue-600">View
                    data <i class="uil uil-arrow-right"></i></a>
            </div>
        </div><!--end-->
    </div>

    <!-- crear reporte Iran los formularios -->
    <div class="grid lg:grid-cols-3 gap-6 mb-6">

        <div class="lg:col-span-2">
            <div class="card">
                <div class="p-5">

                    <div class="grid lg:grid-cols-3 gap-5">
                        <div class="lg:col-span-2">
                            <div class="flex justify-between items-center">
                                <h4 class="card-title mb-4">Crear Reporte</h4>
                            </div>
                            <form>
                                <div class="grid grid-cols-1 md:grid-cols-2  gap-6">
                                    <div>
                                        <label  class="text-gray-800 text-sm font-medium inline-block mb-2">Razon corriente</label>
                                        <input type="number" class="form-input"  placeholder="Razon corriente">
                                    </div>
                                    <div>
                                        <label for="inputPassword4" class="text-gray-800 text-sm font-medium inline-block mb-2">Prueba acida</label>
                                        <input type="password" class="form-input" id="inputPassword4" placeholder="Password">
                                    </div>

                                    <div class="lg:col-span-2">
                                        <label for="inputAddress" class="text-gray-800 text-sm font-medium inline-block mb-2">Address</label>
                                        <input type="text" class="form-input" id="inputAddress" placeholder="Address">
                                    </div>

                                    <div>
                                        <label for="inputAddress2" class="text-gray-800 text-sm font-medium inline-block mb-2">Address 2</label>
                                        <input type="text" class="form-input" id="inputAddress2" placeholder="Address..">
                                    </div>

                                    <div>
                                        <label for="inputCity" class="text-gray-800 text-sm font-medium inline-block mb-2">City</label>
                                        <input type="text" class="form-input" id="inputCity">
                                    </div>
                                    <div>
                                        <label for="inputState" class="text-gray-800 text-sm font-medium inline-block mb-2">State</label>
                                        <select id="inputState" class="form-select">
                                            <option>Choose</option>
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="inputZip" class="text-gray-800 text-sm font-medium inline-block mb-2">Zip</label>
                                        <input type="text" class="form-input" id="inputZip">
                                    </div>
                                </div>
                            </form>

                            <div  class="morris-chart" style="height: 330px;"></div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="p-5">
                <div class="flex justify-between ">
                    <h4 class="card-title mb-1">Grafica reporte</h4>
                </div>
                <app-dashed-line></app-dashed-line>
            </div>
        </div>
    </div>

    <div class="grid xl:grid-cols-2 gap-6">
        <div class="card overflow-hidden">
            <div class="card-header flex justify-between items-center">
                <h4 class="card-title">Total de Reportes</h4>
                <a  class="btn btn-sm bg-light !text-sm text-gray-800 ">Exportar</a>
            </div>

            <div class="overflow-x-auto">
                <div class="min-w-full inline-block align-middle whitespace-nowrap">
                    <div class="overflow-hidden">
                        <table class="min-w-full">
                            <thead class="bg-light/40 border-b border-gray-200">
                                <tr>
                                    <th class="px-6 py-3 text-start">Empresa</th>
                                    <th class="px-6 py-3 text-start">Rep legal</th>
                                    <th class="px-6 py-3 text-start">Campo</th>
                                    <th class="px-6 py-3 text-start">Estado</th>
                                    <th class="px-6 py-3 text-start">Costo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-b border-gray-200">
                                    <td class="px-6 py-3">iPhone X</td>
                                    <td class="px-6 py-3">Tiffany W. Yang</td>
                                    <td class="px-6 py-3">
                                        <span
                                            class="px-2 py-1 bg-success/10 text-success text-xs rounded">Mobile</span>
                                    </td>
                                    <td class="px-6 py-3">
                                        <div
                                            class="flex w-full h-1.5 bg-light rounded-full overflow-hidden">
                                            <div class="progress-bar progress-bar-striped bg-success"
                                                role="progressbar" aria-valuenow="85" aria-valuemin="20"
                                                aria-valuemax="100" style="width:85%"></div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-3">$ 1200.00</td>
                                </tr>
                                <tr class="border-b border-gray-200">
                                    <td class="px-6 py-3">iPad</td>
                                    <td class="px-6 py-3">Dale P. Warman</td>
                                    <td class="px-6 py-3">
                                        <span
                                            class="px-2 py-1 bg-success/10 text-success text-xs rounded">Tablet</span>
                                    </td>
                                    <td class="px-6 py-3">
                                        <div
                                            class="flex w-full h-1.5 bg-light rounded-full overflow-hidden">
                                            <div class="progress-bar progress-bar-striped bg-success"
                                                role="progressbar" aria-valuenow="72" aria-valuemin="20"
                                                aria-valuemax="100" style="width:72%"></div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-3">$ 1190.00</td>
                                </tr>
                                <tr class="border-b border-gray-200">
                                    <td class="px-6 py-3">OnePlus</td>
                                    <td class="px-6 py-3">Garth J. Terry</td>
                                    <td class="px-6 py-3">
                                        <span
                                            class="px-2 py-1 bg-success/10 text-success text-xs rounded">Electronics</span>
                                    </td>
                                    <td class="px-6 py-3">
                                        <div
                                            class="flex w-full h-1.5 bg-light rounded-full overflow-hidden">
                                            <div class="progress-bar progress-bar-striped bg-success"
                                                role="progressbar" aria-valuenow="43" aria-valuemin="20"
                                                aria-valuemax="100" style="width:43%"></div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-3">$ 999.00</td>
                                </tr>
                                <tr class="border-b border-gray-200">
                                    <td class="px-6 py-3">ZenPad</td>
                                    <td class="px-6 py-3">Marilyn D. Bailey</td>
                                    <td class="px-6 py-3">
                                        <span
                                            class="px-2 py-1 bg-success/10 text-success text-xs rounded">Cosmetics</span>
                                    </td>
                                    <td class="px-6 py-3">
                                        <div
                                            class="flex w-full h-1.5 bg-light rounded-full overflow-hidden">
                                            <div class="progress-bar progress-bar-striped bg-success"
                                                role="progressbar" aria-valuenow="37" aria-valuemin="20"
                                                aria-valuemax="100" style="width:37%"></div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-3">$ 1150.00</td>
                                </tr>
                                <tr class="border-b border-gray-200">
                                    <td class="px-6 py-3">Pixel 2</td>
                                    <td class="px-6 py-3">Denise R. Vaughan</td>
                                    <td class="px-6 py-3">
                                        <span
                                            class="px-2 py-1 bg-success/10 text-success text-xs rounded">Appliences</span>
                                    </td>
                                    <td class="px-6 py-3">
                                        <div
                                            class="flex w-full h-1.5 bg-light rounded-full overflow-hidden">
                                            <div class="progress-bar progress-bar-striped bg-success"
                                                role="progressbar" aria-valuenow="82" aria-valuemin="20"
                                                aria-valuemax="100" style="width:82%"></div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-3">$ 1180.00</td>
                                </tr>
                                <tr>
                                    <td class="px-6 py-3">Pixel 2</td>
                                    <td class="px-6 py-3">Jeffery R. Wilson</td>
                                    <td class="px-6 py-3">
                                        <span
                                            class="px-2 py-1 bg-success/10 text-success text-xs rounded">Mobile</span>
                                    </td>
                                    <td class="px-6 py-3">
                                        <div
                                            class="flex w-full h-1.5 bg-light rounded-full overflow-hidden">
                                            <div class="progress-bar progress-bar-striped bg-success"
                                                role="progressbar" aria-valuenow="36" aria-valuemin="20"
                                                aria-valuemax="100" style="width:36%"></div>
                                        </div>
                                    </td>
                                    <td class="px-6 py-3">$ 1180.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->

        <div class="card overflow-hidden">
            <div class="card-header flex justify-between items-center">
                <h4 class="card-title">Grafica Total</h4>
                <a  class="btn btn-sm bg-light !text-sm text-gray-800 ">Exportar</a>
            </div>

            <div class="overflow-x-auto">
                <app-column-chart></app-column-chart>
            </div>
        </div> <!-- end card-->
    </div>

</main>