<table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
        <tr>
           
            <th scope="col" class="px-6 py-3 text-start text-sm text-gray-500">
                Nombre</th>
          
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
        <tr>
            <td class="py-3 ps-4">
                <div class="flex items-center h-5">
                    <input id="table-checkbox-1" type="checkbox"
                        class="form-checkbox rounded">
                    <label for="table-checkbox-1"
                        class="sr-only">Checkbox</label>
                </div>
            </td>
            <td
                class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                Javalabs SAS</td>
         
        </tr>

    
   
    </tbody>
</table>