<main class="p-6">

  <div class="grid lg:grid-cols-2 gap-6 mb-6">
    <div class="grid ">
      <div class="">
          <div class="flex justify-between items-center">
              <h4 class="card-title mb-4">Crear reporte de Solvencia</h4>
          </div>

          <form [formGroup]="solvenciaForm" (ngSubmit)="actualizarGrafico()" class="space-y-4 bg-white p-6 rounded-lg shadow-md">
            <!-- nombreEmpresa: [null, Validators.required],
            nitEmpresa: [null, Validators.required], -->

            <div class="flex flex-col">
              <label  class="mb-2 font-semibold text-gray-700">Nombre de la empresa:</label>
              <input formControlName="nombreEmpresa" type="text" placeholder="Nombre de la empresa" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
          </div>
          <div class="flex flex-col">
            <label  class="mb-2 font-semibold text-gray-700">Nit:</label>
            <input formControlName="nitEmpresa" type="number" placeholder="Nit" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
        </div>

        
            <div class="flex flex-col">
                <label  class="mb-2 font-semibold text-gray-700">Total Activo:</label>
                <input formControlName="totalActivo" type="number" placeholder="Total Activo" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
            </div>
            <p>Cifras en Millones (COP)</p>

        
            <div class="flex flex-col">
                <label for="pasivoCorriente" class="mb-2 font-semibold text-gray-700">Pasivo Corriente:</label>
                <input formControlName="pasivoCorriente" type="number" placeholder="Pasivo Corriente" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
            </div>
            <p>Cifras en Millones (COP)</p>

        
            <div class="flex flex-col">
                <label for="pasivoTotal" class="mb-2 font-semibold text-gray-700">Pasivo Total:</label>
                <input formControlName="pasivoTotal" type="number" placeholder="Pasivo Total" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
            </div>
            <p>Cifras en Millones (COP)</p>

        
            <div class="flex flex-col">
                <label for="ventasNetas" class="mb-2 font-semibold text-gray-700">Ventas Netas:</label>
                <input formControlName="ventasNetas" type="number" placeholder="Ventas Netas" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
            </div>
            <p>Cifras en Millones (COP)</p>

        
            <div class="flex flex-col">
                <label for="patrimonio" class="mb-2 font-semibold text-gray-700">Patrimonio:</label>
                <input formControlName="patrimonio" type="number" placeholder="Patrimonio" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
            </div>
            <p>Cifras en Millones (COP)</p>

        
            <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Guardar Reporte</button>
        </form>
        
        
      </div>
    
  </div>

      <div class="card">
          <div class="p-5">
              <div class="flex justify-between ">
                <h4 class="card-title mb-1">Resultados grafica</h4>
              </div>
              <div id="chart"></div>
            </div>

            
            <div class="p-5">
                <div id="chart2"></div>
               
              <button class="btn btn-sm bg-light !text-sm text-gray-800 "  (click)="exportToPDF()">Exportar a PDF</button>
    
              </div>

              <div class="p-5">
                <div class="flex justify-between ">
                  <h4 class="card-title mb-1">Resultados:</h4>
                </div>
                <p>Nivel endeudamientoPatrimonio: {{ endeudamientoPatrimonio | number:'1.2-2' }}</p>
                <p>Concentración de Endeudamiento Corto Plazo: {{ concentracionEndeudamientoCortoPlazo | number:'1.2-2' }}</p>
                <p>Endeudamiento sobre Ventas: {{ endeudamientoVentas | number:'1.2-2' }}</p>
                <p>Multiplicador de Capital: {{ multiplicadorCapital | number:'1.2-2' }}</p>
              </div>
              

          
      </div>  
  </div>


</main>