<div class="grid xl:grid-cols-4 md:grid-cols-2 gap-6 mb-6">
    <div class="card-user">

        <!-- <app-total-card-user></app-total-card-user> -->

    </div>
    <!--end-->

    <div class="card-company">
        <!-- <app-total-card-company></app-total-card-company> -->

    </div>
</div>

<div class="grid lg:grid-cols-3 gap-6 mb-6">

    <div class="lg:col-span-2">
        <div class="card">
            <!-- <app-grafic-stadistica-general></app-grafic-stadistica-general> -->
        </div>
    </div>


    <div class="card">
        <!-- <app-card-balance-general></app-card-balance-general> -->
    </div>
</div>

<div class="grid xl:grid-cols-2 gap-6">
    <div class="card overflow-hidden">
        <div class="card-header flex justify-between items-center">
            <h4 class="card-title">Listado de Empresas</h4>
            <a href="javascript:void(0);" class="btn btn-sm bg-light !text-sm text-gray-800 ">Exportar</a>
        </div>

        <div class="overflow-x-auto">
            <!-- <app-list-empresa></app-list-empresa> -->
        </div>
    </div>
    <!-- end card-->

    <div class="card overflow-hidden">
        <div class="card-header flex justify-between items-center">
            <h4 class="card-title">Lista de Usuarios</h4>
            <a href="javascript:void(0);" class="btn btn-sm bg-light !text-sm text-gray-800 ">Exportar</a>
        </div>

        <div class="overflow-x-auto">
            <!-- <app-list-usuarios></app-list-usuarios> -->
        </div>
    </div>
    <!-- end card-->
</div>
