<main class="p-6">

    <div class="grid xl:grid-cols-4 md:grid-cols-2 gap-6 mb-6">
        <div class="card">
            <!-- card -->
            <div class="p-5 flex items-center justify-between">
                <span>
                    <span class="text-slate-400 font-semibold block">Total gestiones</span>
                    <span class="text-xl font-semibold">{{ totalGestiones }}</span> 
                </span>

                <span
                    class="flex justify-center items-center h-14 w-14 bg-blue-600/5 shadow shadow-blue-600/5 text-blue-600">
                    <i class="uil uil-user text-xl"></i>
                </span>
            </div>

        </div>
    </div>

    <!-- crear reporte Iran los formularios -->
    <div class="grid lg:grid-cols-2 gap-6 mb-6">

        <div class="">
            <div class="grid ">
                <div class="">
                    <div class="flex justify-between items-center">
                        <h4 class="card-title mb-4">Crear Gestion</h4>
                    </div>

                    <form [formGroup]="gestionForm" (ngSubmit)="actualizarGrafico()" class="space-y-4 bg-white p-6 rounded-lg shadow-md">
                        <!-- Ventas Netas -->
                        <div class="flex flex-col">
                          <label for="ventasNetas" class="mb-2 font-semibold text-gray-700">Ventas Netas:</label>
                          <input formControlName="ventasNetas" type="number" placeholder="Ventas Netas" class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                          <p>Cifras en Millones (COP)</p>
                        </div>
                      
                        <!-- Cuentas por Cobrar Clientes -->
                        <div class="flex flex-col">
                          <label for="cuentasPorCobrar" class="mb-2 font-semibold text-gray-700">Cuentas por Cobrar Clientes:</label>
                          <input formControlName="cuentasPorCobrar" type="number" placeholder="Cuentas por Cobrar Clientes" class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                          <p>Cifras en Millones (COP)</p>
                        </div>
                      
                        <!-- Costo de Venta -->
                        <div class="flex flex-col">
                          <label for="costoDeVenta" class="mb-2 font-semibold text-gray-700">Costo de Venta:</label>
                          <input formControlName="costoDeVenta" type="number" placeholder="Costo de Venta" class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                          <p>Cifras en Millones (COP)</p>
                        </div>
                      
                        <!-- Inventarios -->
                        <div class="flex flex-col">
                          <label for="inventarios" class="mb-2 font-semibold text-gray-700">Inventarios:</label>
                          <input formControlName="inventarios" type="number" placeholder="Inventarios" class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                          <p>Cifras en Millones (COP)</p>
                        </div>
                      
                        <!-- Cuentas por Pagar -->
                        <div class="flex flex-col">
                          <label for="cuentasPorPagar" class="mb-2 font-semibold text-gray-700">Cuentas por Pagar:</label>
                          <input formControlName="cuentasPorPagar" type="number" placeholder="Cuentas por Pagar" class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm">
                          <p>Cifras en Millones (COP)</p>
                        </div>
                      
                        <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Actualizar gráfico</button>
                        
                    
                    
                    </form>
                      
                    
                      
                </div>
              
            </div>
        </div>


        <div class="card">
            <div class="p-5">
                <div class="flex justify-between ">
                    <h4 class="card-title mb-1">Grafica reporte</h4>
                </div>
                <div id="chart"></div>
                <button class="btn btn-sm bg-light !text-sm text-gray-800 "  (click)="exportToPDF()">Exportar a PDF</button>

            </div>
<!-- 
            <div class="p-5">
                <div class="flex justify-between">
                  <h4 class="card-title mb-1">Resultados:</h4>
                </div>
                <div>
                  <table>
                    <thead>
                      <tr>
                        <th>Concepto</th>
                        <th>Valor (días)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Periodo de Cobro</td>
                        <td>{{ periodoDeCobro }}</td>
                      </tr>
                      <tr>
                        <td>Periodo de Inventario</td>
                        <td>{{ periodoDeInventario }}</td>
                      </tr>
                      <tr>
                        <td>Periodo de Pago</td>
                        <td>{{ periodoDePago }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div> 
              </div> -->
              

            
        </div>  
    </div>

    <div class="grid xl:grid-cols-2 gap-6">
        <div class="card overflow-hidden">
            <div class="card-header flex justify-between items-center">
                <h4 class="card-title">Total de Reportes</h4>
                <a  class="btn btn-sm bg-light !text-sm text-gray-800 ">Exportar</a>
            </div>

            <!-- <app-lista-gestiones></app-lista-gestiones> -->
            
        </div> <!-- end card-->

        <div class="card overflow-hidden">
            <div class="card-header flex justify-between items-center">
                <h4 class="card-title">Grafica Total</h4>
            </div>

            <div class="overflow-x-auto">
                
                <!-- <app-column-chart></app-column-chart> -->
            </div>
        </div>
         <!-- end card-->
    </div>

</main>