<main class="p-6">

  <div class="grid lg:grid-cols-2 gap-6 mb-6">
    <div class="grid ">
      <div class="">
          <div class="flex justify-between items-center">
              <h4 class="card-title mb-4">Crear reporte de Rantabilidad</h4>
          </div>

          <form [formGroup]="rentabilidadForm" (ngSubmit)="actualizarGrafico()" class="space-y-4 bg-white p-6 rounded-lg shadow-md">
            <div class="flex flex-col">
              <label  class="mb-2 font-semibold text-gray-700">Nombre de la empresa:</label>
              <input formControlName="nombreEmpresa" type="text" placeholder="Nombre de la empresa" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
          </div>
          <div class="flex flex-col">
            <label  class="mb-2 font-semibold text-gray-700">Nit:</label>
            <input formControlName="nitEmpresa" type="number" placeholder="Nit:" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
        </div>
            
            
            <div class="flex flex-col">
                <label for="utilidadBruta" class="mb-2 font-semibold text-gray-700">Utilidad Bruta:</label>
                <input formControlName="utilidadBruta" type="number" placeholder="Utilidad Bruta" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
            </div>
            <p>Cifras en Millones (COP)</p>
          
            
            <div class="flex flex-col">
                <label for="ventasNetas" class="mb-2 font-semibold text-gray-700">Ventas Netas:</label>
                <input formControlName="ventasNetas" type="number" placeholder="Ventas Netas" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
            </div>
            <p>Cifras en Millones (COP)</p>

            
            <div class="flex flex-col">
                <label for="utilidadOperacional" class="mb-2 font-semibold text-gray-700">Utilidad Operacional:</label>
                <input formControlName="utilidadOperacional" type="number" placeholder="Utilidad Operacional" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
            </div>
            <p>Cifras en Millones (COP)</p>

            
            <div class="flex flex-col">
                <label for="utilidadNeta" class="mb-2 font-semibold text-gray-700">Utilidad Neta:</label>
                <input formControlName="utilidadNeta" type="number" placeholder="Utilidad Neta" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
            </div>
            <p>Cifras en Millones (COP)</p>

            
            <div class="flex flex-col">
                <label for="patrimonioLiquido" class="mb-2 font-semibold text-gray-700">Patrimonio Líquido:</label>
                <input formControlName="patrimonioLiquido" type="number" placeholder="Patrimonio Líquido" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
            </div>
            <p>Cifras en Millones (COP)</p>

            <div class="flex flex-col">
                <label for="activoTotal" class="mb-2 font-semibold text-gray-700">Activo Total:</label>
                <input formControlName="activoTotal" type="number" placeholder="Activo Total" required class="form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
            </div>
            <p>Cifras en Millones (COP)</p>

            
            <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Guardar Reporte</button>
        </form>
        
      </div>
    
  </div>

      <div class="card">
          <div class="p-5">
              <div class="flex justify-between ">
                  <h4 class="card-title mb-1">Grafica reporte</h4>
              </div>

              <div id="chartMargenes"></div>
              <button class="btn btn-sm bg-light !text-sm text-gray-800 "  (click)="exportToPDF()">Exportar a PDF</button>

            </div>

            <div class="p-5">
                <div class="flex justify-between ">
                    <h4 class="card-title mb-1">Grafica reporte</h4>
                </div>
  
                <div id="chartRentabilidad"></div>
  
              </div>


              <div class="p-5">
                <h4 class="card-title mb-1">Resultados de Rentabilidad:</h4>
                <table>
                  <thead>
                    <tr>
                      <th>Concepto</th>
                      <th>Valor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Resultados calculados -->
                    <tr>
                      <td>Margen Bruto</td>
                      <td>{{ margenBruto | number:'1.2-2' }}</td>
                    </tr>
                    <tr>
                      <td>Margen Operativo</td>
                      <td>{{ margenOperativo | number:'1.2-2' }}</td>
                    </tr>
                    <tr>
                      <td>Margen Neto</td>
                      <td>{{ margenNeto | number:'1.2-2' }}</td>
                    </tr>
                    <tr>
                      <td>Rentabilidad del Patrimonio</td>
                      <td>{{ rentabilidadPatrimonio | number:'1.2-2' }}</td>
                    </tr>
                    <tr>
                      <td>Rentabilidad del Activo Total</td>
                      <td>{{ rentabilidadActivoTotal | number:'1.2-2' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              

          
      </div>  
  </div>

  <!-- <div class="grid xl:grid-cols-2 gap-6">
      <div class="card overflow-hidden">
          <div class="card-header flex justify-between items-center">
              <h4 class="card-title">Total de Reportes</h4>
              <a  class="btn btn-sm bg-light !text-sm text-gray-800 ">Exportar</a>
          </div>
          
      </div> 
  </div> -->

</main>